name: pi-gen-action-unit-tests
on:
  push:
    paths-ignore:
      - '**.md'
      - 'renovate.json'
  pull_request:
    types: [opened, reopened, synchronize]

jobs:

  npm-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # fetch full history for Git tests

    - uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: npm

    - run: npm ci

    - run: npm test

    - uses: codecov/codecov-action@v3
      with:
        files: coverage/clover.xml,coverage/lcov.info
        flags: unittests

    - run: npm run lint

    - run: npm run format-check

    - run: npm run update-readme

    - name: Ensure no Git diff
      run: |
        GIT_STATUS=$(git status -s)
        echo $GIT_STATUS
        test -z "$GIT_STATUS"

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: ludeeus/action-shellcheck@master